@import './Variables';


.navbar {
  background-color: $primary-color;
  color: $text-light;

  .nav-link {
    color: $text-light;
    font-weight: 500;

    &:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
  }

  .navbar-brand {
    color: $text-light;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }

  .navbar-toggler {
    border-color: $text-light;

  .narbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}
}
